*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    /* font-family: 'DM Sans', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Poppins', sans-serif; */
}
a{
    display: block;
    text-decoration: none;
}
img{
    width: 100%;
}


.container{
    width: 1140px;
    margin: 0 auto;
}

header{
    background: linear-gradient(105.18deg, #1E3C72 -2.04%, #2A5298 107.42%);
}


nav .container{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    color: #fff;
    display: flex;
    align-items: center;
}
.nav-title-logo{
    font-size: 24px;  
}
.nav-title-text{
    font-family: 'Poppins', sans-serif;
    margin: 0 15px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    opacity: 0.8;
}
.nav-list{
    display: flex;
}
.fa-chevron-down{
    font-size: 10px;
}
.nav-link{
    font-family: system-ui,sans-serif;
    margin: 0 20px;
    color: #fff;
}
.nav-wrapper{
    font-family: 'DM Sans', sans-serif;
    padding: 10px 25px;
    border-radius: 50px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
}
.watsh-video{
    background-color: transparent;
    padding: 10px 25px;
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    border: none;
}


main .container{
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-text{
    width: 45%;
}
.main-text-title{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #fff;
}
.main-subtext{
    margin: 20px 0;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
}
.wtsh{
    display: flex;
}
.wtsh .nav-wrapper{
    color: black;
    background-color: #fff;
}

.sponsor{
    color: #fff;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.sponsor-logos{
    margin: 0 10px;
    display: flex;
}



.main-photo{
    width: 45%;
}

@media (max-width:1160px){
    .container{
        width: 1040px;
    }
    .main-subtext{
        font-size: 17px;
    }
}
@media (max-width:1060px){
    .container{
        width: 940px;
    }
    .main-text-title{
        font-size: 50px;
    }
    .main-subtext{
        font-size: 15px;
    }
}
@media (max-width:960px){
    .container{
        width: 840px;
    }
}
@media (max-width:860px){
    .container{
        width: 740px;
    }
    .nav-list{
        display: none;
    }
    main .container{
        flex-direction: column;
    }
    .main-text{
        width: 100%;
        text-align: center;
    }
    .main-photo{
        margin-top: 50px;
        width: 100%;
    }
    .sponsor{
        margin-top: 20px;
        justify-content: center;
    }
    .wtsh{
        justify-content: center;
    }
    .wtsh .nav-wrapper{
        margin: 0 15px;
    }
    .watsh-video{
        margin: 0 15px;
    }
}
@media (max-width:760px){
    .container{
        width: 640px;
    }
}
@media (max-width:660px){
    .container{
        width: 540px;
    }
}
@media (max-width:560px){
    .container{
        width: 440px;
    }
}
@media (max-width:460px){
    .container{
        width: 340px;
    }
    nav .container{
        justify-content: center;
    }
    nav .container .nav-wrapper{
        display: none;
    }
    .wtsh{
        flex-direction: column;
    }
    .wtsh .nav-wrapper{
        margin: 10px 0;
        font-size: 24px;
    }
    .watsh-video{
        margin: 10px 0;
        font-size: 24px;
    }
}
@media (max-width:360px){
    .container{
        width: 240px;
    }
    .main-text-title{
        font-size: 35px;
    }
    .sponsor p{
        display: none;
    }
}