*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    /* font-family: 'DM Sans', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Poppins', sans-serif; */
}
a{
    display: block;
    text-decoration: none;
}
img{
    width: 100%;
}


.container{
    width: 1140px;
    margin: 0 auto;
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    display: flex;
    align-items: center;
}


@media (max-width:1160px){
    .container{
        width: 1040px;
    }
}
@media (max-width:1060px){
    .container{
        width: 940px;
    }
}
@media (max-width:960px){
    .container{
        width: 840px;
    }
}
@media (max-width:860px){
    .container{
        width: 740px;
    }
}
@media (max-width:760px){
    .container{
        width: 640px;
    }
}
@media (max-width:660px){
    .container{
        width: 540px;
    }
}
@media (max-width:560px){
    .container{
        width: 440px;
    }
}
@media (max-width:460px){
    .container{
        width: 340px;
    }
}
@media (max-width:360px){
    .container{
        width: 240px;
    }
}