*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    /* font-family: 'DM Sans', sans-serif;
    font-family: 'Heebo', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Poppins', sans-serif; */
}
a{
    display: block;
    text-decoration: none;
}
img{
    width: 100%;
}

body{
    background: #E5E5E5;
}
.container{
    width: 1140px;
    margin: 0 auto;
}

header{
    border-radius: 0 0 300px 0;
    background: linear-gradient(105.18deg, #1E3C72 -2.04%, #2A5298 107.42%);
}


nav .container{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    color: #fff;
    display: flex;
    align-items: center;
}
.nav-title-logo{
    font-size: 24px;  
}
.nav-title-text{
    font-family: 'Poppins', sans-serif;
    margin: 0 15px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    opacity: 0.8;
}
.nav-list{
    display: flex;
}
.fa-chevron-down{
    font-size: 10px;
}
.nav-link{
    font-family: system-ui,sans-serif;
    margin: 0 20px;
    color: #fff;
}
.nav-wrapper{
    font-family: 'DM Sans', sans-serif;
    padding: 10px 25px;
    border-radius: 50px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.16px;
}
.watsh-video{
    background-color: transparent;
    padding: 10px 25px;
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    border: none;
}


main .container{
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-text{
    width: 45%;
}
.main-text-title{
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #fff;
}
.main-subtext{
    margin: 20px 0;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    line-height: 42px;
    color: #fff;
}
.wtsh{
    display: flex;
}
.wtsh .nav-wrapper{
    color: black;
    background-color: #fff;
}

.sponsor{
    color: #fff;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.sponsor-logos{
    margin: 0 10px;
    display: flex;
}



.main-photo{
    width: 45%;
}


.quality-title{
    margin-top: 60px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'DM Sans', sans-serif;
    color: #244886;
}
.quality-subtitle{
    margin: 20px 0;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
}


.quality-plans{
    margin: 90px 0;
    display: flex;
    gap: 50px;
    justify-content: center;
}
.quality-forms{
    width: 20%;
    text-align: center;
}
.form-logo{
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 30px;
    background-color: #E4FFEE;
}
.quality-forms:nth-child(2) .form-logo{
    background-color: rgba(36, 98, 255, 0.09);
}
.quality-forms:nth-child(3) .form-logo{
    background-color: rgba(255, 67, 98, 0.1);
}
.form-text{
    margin-top: 20px;
}


.core-features{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features-photo{
    width: 45%;
}
.features-text{
    width: 45%;
}

.feature-types{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 25px 30px;
    border-radius: 10px;
    transition: .5s;
}
.feature-types:hover{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    transform: scale(1.02);
}
.type-text{
    width: 85%;
}
.type-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: linear-gradient(41deg, rgba(255, 65, 109, 0.1) -4.02%, rgba(255, 75, 43, 0.1) 104.02%);
    border-radius: 50%;
}
.type-img img{
    width: 50%;
}
.features-text-subtitle{
    padding: 0 30px;
    font-family: 'DM Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 2.1px;
    color: #244886;
}
.features-text-title{
    margin-bottom: 50px;
    padding: 0 30px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: -1.5px;
}








@media (max-width:1160px){
    .container{
        width: 1040px;
    }
    header{
        border-radius: 0 0 250px 0;
    }
    .main-subtext{
        font-size: 17px;
    }
    .quality-forms{
        width: 22%;
    }

    .type-text{
        width: 80%;
    }
}
@media (max-width:1060px){
    .container{
        width: 940px;
    }
    header{
        border-radius: 0 0 200px 0;
    }
    .main-text-title{
        font-size: 50px;
    }
    .main-subtext{
        font-size: 15px;
    }
    .quality-forms{
        width: 23%;
    }
    .type-text{
        width: 83%;
    }
    .feature-types{
        width: 90%;
    }
}
@media (max-width:960px){
    .container{
        width: 840px;
    }
    header{
        border-radius: 0 0 150px 0;
    }
    .quality-forms{
        width: 25%;
    }
    .feature-types{
        width: 93%;
    }
}
@media (max-width:860px){
    .container{
        width: 740px;
    }
    header{
        border-radius: 0 0 100px 0;
    }
    .nav-list{
        display: none;
    }
    main .container{
        flex-direction: column;
    }
    .main-text{
        width: 100%;
        text-align: center;
    }
    .main-photo{
        margin-top: 50px;
        width: 100%;
    }
    .sponsor{
        margin-top: 20px;
        justify-content: center;
    }
    .wtsh{
        justify-content: center;
    }
    .wtsh .nav-wrapper{
        margin: 0 15px;
    }
    .watsh-video{
        margin: 0 15px;
    }


    .quality-plans{
        flex-wrap: wrap;
    }
    .quality-forms{
        padding: 0 40px;
        width: 40%;
    }


    .core-features{
        flex-direction: column;
    }
    .features-photo{
        width: 80%;
    }
    .features-text{
        width: 100%;
    }
    .feature-types{
        width: 100%;
    }
    .type-img{
        transform: scale(1.5);
    }
    .type-text{
        width: 90%;
    }
    .features-text-subtitle{
        text-align: center;
    }
    .features-text-title{
        text-align: center;
    }
}
@media (max-width:760px){
    .container{
        width: 640px;
    }
    .quality-forms{
        width: 46%;
    }
    .type-text{
        width: 87%;
    }
}
@media (max-width:660px){
    .container{
        width: 540px;
    }
    .quality-forms{
        padding: 0;
        transform: scale(1.2);
        width: 78%;
    }
    .form-text{
        margin: 0 auto;
        width: 50%;
    }
    .type-text{
        width: 85%;
    }
}
@media (max-width:560px){
    .container{
        width: 440px;
    }
    .quality-forms{
        padding: 0;
        margin: 0 auto;
        width: 88%;
    }
    .type-text{
        width: 82%;
    }
}
@media (max-width:460px){
    .container{
        width: 340px;
    }
    header{
        border-radius: 0;
    }
    nav .container{
        justify-content: center;
    }
    nav .container .nav-wrapper{
        display: none;
    }
    .wtsh{
        flex-direction: column;
    }
    .wtsh .nav-wrapper{
        margin: 10px 0;
        font-size: 24px;
    }
    .watsh-video{
        margin: 10px 0;
        font-size: 24px;
    }
    .sponsor p{
        display: none;
    }
    .quality-forms{
        padding: 0;
        margin: 0 auto;
        width: 90%;
    }
    .form-text{
        margin: 0 auto;
        width: 65%;
    }
    
    .type-text{
        width: 75%;
    }
    .features-text-title{
        padding: 0;
        font-size: 43px;
    }
}
@media (max-width:360px){
    .container{
        width: 240px;
    }
    .main-text-title{
        font-size: 35px;
    }
    .quality-forms{
        padding: 0;
    }
    .form-text{
        margin: 0 auto;
        width: 90%;
    }
    .feature-types{
        flex-direction: column;
        gap: 30px;
    }
    .type-img{
        margin: 0 auto;
        transform: scale(2);
    }
    .type-text{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .features-text-title{
        padding: 0;
        font-size: 40px;
    }
}